*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Ephesis Regular";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Ephesis Regular"),
         /* Если не получилось, загрузит woff2 */
         url("/font/Ephesis-Regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/font/Ephesis-Regular.woff") format("woff");
  }

.name-site{
    font-family: 'Ephesis Regular';
    font-size: 63px;
    text-align: center;
    color: #2E8B57;
}