@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates", sans-serif;
}

@font-face {
    font-family: 'Ephesis';
    src: url('font/Ephesis-Regular.woff2') format('woff2'),
         url('/font/Ephesis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.name-site{
    font-family: 'Ephesis', sans-serif;
    font-size: 63px;
    text-align: center;
    color: #2E8B57;
}

.main-header{
    background-image: url('images/baground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    left: 30px;
    position: relative;
    top: 70px;
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
}

hr{
    margin-top: 50px;
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}

.main-content {
    width: 300px;
    height: 600px;
}

img{
    border-radius: 16px;
}

.container {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: space-between; /* Пространство между элементами */
    padding: 0 20%; /* Отступы слева и справа */
}
.main-content {
    max-width: 50%; /* Максимальная ширина для текста */
}
.main-content img {
    max-width: 100%; /* Изображение не выходит за рамки контейнера */
    height: auto; /* Сохраняет пропорции изображения */
}